* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #4d88ff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;

}

.container {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 50%;
    border: 15px solid black;
    position: relative;
    overflow: hidden;
    transition: 2s;
}

.container div {
    height: 50%;
    width: 127.5px;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: translateX(-50%);
    transform-origin: bottom;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    left: 171px;
}

.container .choiceOne {
    background-color: red;
    transform: rotate(0deg);

}

.container .choiceTwo {
    background-color: orange;
    transform: rotate(30deg);

}

.container .choiceThree {
    background-color: yellow;
    transform: rotate(60deg);

}

.container .choiceFour {
    background-color: green;
    transform: rotate(90deg);

}

.container .choiceFive {
    background-color: blue;
    transform: rotate(120deg);
}

.container .choiceSix {
    background-color: purple;
    transform: rotate(150deg);

}

.container .choiceSeven {
    background-color: red;
    transform: rotate(180deg);
}

.container .choiceEight {
    background-color: orange;
    transform: rotate(210deg);
}

.container .choiceNine {
    background-color: yellow;
    transform: rotate(240deg);

}

.container .choiceTen {
    background-color: green;
    transform: rotate(270deg);

}

.container .choiceEleven {
    background-color: blue;
    transform: rotate(300deg);
}

.container .choiceTwelve {
    background-color: purple;
    transform: rotate(330deg);

}

.arrow {
    position: absolute;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    color: black;

}

.arrow::before {
    content: "\1f817";
    font-size: 50px;

}

#spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
    text-transform: uppercase;
    border: 8px solid white;
    font-weight: bold;
    font-size: 20px;
    color: grey;
    width: 80px;
    height: 80px;
    font-family: sans-serif;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    letter-spacing: 1px;

}

#spin:hover {
    color: limegreen;
}